.adBox{
    margin-top:50px;
    transition:all 0.3s linear;
}
.leaderBoardAd,
.squareBoxAd{
    display:block;
    transition:all 0.3s linear;
}
@media (max-width:768px){
    .leaderBoardAd{
        display:none;
    }
}
@media(min-width:768px){
    .squareBoxAd{
        display:none;
    }
}