html{
    font-size:62.5%;
}
body{
    background-color:$backgroundColor;
    font-family: $primaryFont;
}
.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto; 
}
p{
    color:$primaryTextColor;
    font-size:2rem;
}