:root{
    --gridColumns:0;
    --boxWidth:100px;
    --boxHeight:100px;
}
.boxContainer {
    max-width:100px;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr repeat(var(--gridColumns), 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
}
.boxContainer > *{
    min-width:100px;
}
.box {
    position:relative;
    width: var(--boxWidth);
    height: var(--boxHeight);
}
.card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.3s linear;
    box-shadow: -5px 5px 5px #aaa;
}
.box.active .card {
    transform: rotateY(180deg);
}
.boxFront,
.boxBack{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition:all 0.3s linear;
}
.boxFront{
    background-color:salmon;
}
.boxBack {
    transform: rotateY(180deg);
    background-color:red;
    
}
.boxRandom {
    background-color: seagreen;
    transition:all 0.3s linear;
}
.boxRandomBack{
    transform: rotateY(180deg);
    background-color: yellow;
    // background-image:url("../assets/canada_flag.png");
    // background-size: contain;
    // background-position: center;
    // background-repeat: no-repeat;
}