:root{
    --gridColumns:0;
    --boxWidth:6rem;
    --boxHeight:6rem;
    --boxBorder:0.2rem;
    --containerWidth:100rem;
    --containerBorderWidth:2rem;
    transition:all 0.3s linear;
}
.gameBoard{
    width:90%;
    height:auto;
    margin: 0 auto;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items:center;
    margin-top:2rem;
    background-color:brown;
}

.boxContainer {
    margin:5rem;
    max-width:var(--containerWidth);
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr repeat(var(--gridColumns), 1fr);
    grid-template-rows: 1fr;    
    border:var(--containerBorderWidth) solid lightcyan;
    background-color:lightcyan;
}

.boxContainer > *{
    min-width:2rem;
}
.box {
    position:relative;
    width: var(--boxWidth);
    height: var(--boxHeight);
    border:var(--boxBorder) solid transparent;
}
.innerContainer {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.3s linear;
    box-shadow: -3px 3px 2px #aaa;
}
.box.active .innerContainer {
    transform: rotateY(180deg);
}
.boxFront,
.boxBack{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition:all 0.3s linear;
}
.boxFront{
    background-color:darkcyan;
}
.boxBack {
    transform: rotateY(180deg);
    background-color:red;
    
}
.boxRandom {
    background-color: yellow;
    transition:all 1s linear;
    animation:fadeTheBox 1s linear;
}
.boxRandomBack{
    transform: rotateY(180deg);
    background-color: darkgreen;
}
.reset{
    width:100px;
    height:fit-content;
    padding:10px;
}
p{
    color:white;
    font-size:2rem;
}
@keyframes fadeTheBox {
    0%{ 
        opacity: 0.9;
        transform:scale(1);
    }
    10%{transform:scale(1.01);}
    20%{transform:scale(1.03);}
    30%{transform:scale(1.05);}
    40%{transform:scale(1.07);}
    50%{transform:scale(1.1);}
    60%{transform:scale(1.07);}
    70%{transform:scale(1.05);}
    80%{transform:scale(1.03);}
    90%{transform:scale(1.01);}
    100%{
        opacity: 1;
        transform:scale(1);
    }
}
@media(max-width:800px){
    .gameBoard{
        flex-direction: column;;
    }
}

@media(max-width:580px){
    :root{
        --containerBorderWidth:1.5rem;
    }
}
@media(max-width:400px){
    :root{
        --containerBorderWidth:1rem;
    }
}