// color variables


$primaryTextColor:#f4f4f4;
$secondaryColor:#141623;
$backgroundColor:#a6b1e1;
$gameBoardBackground:#424874;
$containerColor:#b2a3b5;
$randomColor:#f1bf98;
$frontColor:#58374d;
$wrongColor:#a11b1c;
$rightColor:#19341b;


$primaryFont:'Courgette', cursive;